% view.layout = 'default';
<{headerBlock}>
  %= ctx.styleTag('/docs.css')
<{/headerBlock}>
% ctx.contentFor('header', await headerBlock());
<a id="toc"></a>
<header>
  %= await ctx.include('menubar')
</header>
<div class="container-fluid">
  <div class="row flex-wrap">
    <aside class="col-sm-12 col-md-4 col-lg-2 mojo-sidebar">
      <form class="mojo-version d-flex align-items-center">
        <fieldset disabled>
          <input type="text" id="disabledTextInput" class="form-control" placeholder="v<%= version %>">
        </fieldset>
      </form>
      <ul>
        % for (const part of parts) {
          <li>
            % const [text, target] = part.splice(0,2);
            <a href="<%= target %>"><b><%= text %></b></a>
            % if (part.length > 0) {
              <ul>
                % while (part.length > 0) {
                  % const [text, target] = part.splice(0,2);
                  <li><a href="<%= target %>"><%= text %></a></li>
                % }
              </ul>
            % }
          </li>
        % }
      </ul>
    </aside>
    <main class="col-sm-12 col-md-8 col-lg-10 py-md-3 pl-md-5 mojo-main">
      <div class="mojo-docinfo">
        <div>
          <div class="mojo-docnav">
            <a class="nav-link" alt="Index" href="https://mojojs.org/docs/"><i class="fas fa-book"></i></a>
          </div>
          %= file
        </div>
      </div>
      <div class="mojo-external">
        <a class="btn btn-outline-secondary btn-sm" href="https://github.com/mojolicious/mojo.js/tree/main/docs/<%= file %>" role="button">GitHub</a>
      </div>
      <div class="mojo-doc">
        %== docs
      </div>
    </main>
  </div>
</div>
<footer>
  %= await ctx.include('footer')
</footer>
<script>
  const links    = document.querySelectorAll('.mojo-sidebar ul li a[href^="#"]');
  const linkById = Object.fromEntries(Array.from(links).map(e => [e.getAttribute('href').substr(1), e]));
  const sections = Array.from(links).map(e => document.getElementById(e.getAttribute('href').substr(1))).reverse();

  let lastSectionId;
  let mojoOnScroll = () => {
    const pos = (document.documentElement.scrollTop || document.body.scrollTop) - 63;

    const section = sections.find(e => e.offsetTop <= pos);
    if (!section) return;

    if (section.id == lastSectionId) return;
    lastSectionId = section.id;

    links.forEach(e => e.classList.remove('font-weight-bold'));
    linkById[section.id].classList.add('font-weight-bold');
  };
  window.onscroll = mojoOnScroll;
  mojoOnScroll();
</script>
