% view.layout = 'default';
<{headerBlock}>
  %= ctx.styleTag('/docs.css')
<{/headerBlock}>
% ctx.contentFor('header', await headerBlock());
<a id="toc"></a>
<header>
  %= await ctx.include('menubar')
</header>
<div class="container">
  <div class="row flex-wrap">
    <main class="col-sm-12 col-md-8 col-lg-10 py-md-3 pl-md-5">
      <div class="mojo-doc">
        %== news
        % if (data.date) {
          <p><small>Published: <%= data.date %></small></p>
        % }
        % if (data.author) {
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                % if (data.author_image) {
                <img src="<%== data.author_image %>" alt="author image">
                % } else {
                <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Author Image Placeholder</title>
                  <rect width="100%" height="100%" fill="#6c757d"></rect>
                  <text x="50%" y="50%" fill="#dee2e6" dy=".3em" text-anchor="middle">Author</text>
                </svg>
                % }
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= data.author %></h5>
                  % if (data.author_text) {
                  <p class="card-text"><%= data.author_text %></p>
                  % }
                </div>
              </div>
            </div>
          </div>
        % }
      </div>
    </main>
  </div>
</div>
<footer>
  %= await ctx.include('footer')
</footer>
